# Carpetas ignoradas
__pycache__
model_ckpt
data
logs
results

neat/aim_mt_2d
neat/aim_mt_bev
neat/aim_va
data/expert

leaderboard/docs
leaderboard/team_code/aim_mt_2d_agent.py
leaderboard/team_code/aim_mt_bev_agent.py
leaderboard/team_code/aim_va_agent.py


# Archivos ignorados
*.log
*.tmp
*.pyc
.env
.DS_Store

# Entornos virtuales
venv/
env/
*.pyc